*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    font-family: monospace;
}
/* header style */
.header_wraper{
    background-color: black;
    color: white;
    font-weight: 200;
    font-size: 0.75em;
}

.internal_wraper{
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}

.header_wraper ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    list-style: none;
}
img{
    width: 100%;
}

.header_wraper .header_links_wraper ul li a {
    text-decoration: none;
    color: white;
}
.header_wraper .header_links_wraper ul li {
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;
}

.header_wraper .header_links_wraper ul li:hover {
    opacity: 1;
}


/* style of main_highlight */

.main_highlight_wraper{
    background-color: #fff;
    padding: 25px;
    text-align: center;
}
.internall_wraper{
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.model {
    font-size: 0.78em;
}
.title_wraper {
    font-weight: 600;
    font-size: 54px;
}
.description{
    font-size: 0.92em;
}
.links_wraper {
    padding: 14px 0;
}
.links_wraper ul {
    list-style: none;
  
}
.links_wraper ul li a{
    text-decoration: none;
    color:#06c;
}
.links_wraper ul li {
    opacity: 0.8;
    padding-right: 20px;
    display: inline-block;
}
.links_wraper ul li a:hover{
    opacity: 1;
    color: #000;
}


.links_wraper ul li a:after {
    font-weight: 900;
    padding-left: 10px;
    content: "\f007";
    font-family: FontAwsome;
  }
  
  .second_wraper{
    background-color: #000;
    color: black;
    padding: 50px 0;
    background-image: url("../images/school-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
  }
  .price{
    color: gray;
  }

  .third_wraper{
    background-image: url("../images/school-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    color: white;
    padding: 25px 0;
    text-align: center;
  }


  .fourth_wraper{
    text-align: center;
    background: #fff;
  }
  .fourth_wraper .parallels{
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    text-align: center;
    display: flex;
  }

  .fourth_wraper .left_side_wraper {
background-image: url("../images/schoolSport-field-1.jpg");
background-size: cover;
background-repeat: no-repeat;
width: 48.5%;
padding: 54px;
margin: 1% 0.5% 0 1%;
height: 580px;
color:  whitesmoke;
font-weight: 900;
  }
  .fourth_wraper .right_side_wraper {
    background-image: url("../images/schoolSport-field-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 54px;
    margin: 1% 1% 0 0.5%;
    width: 48.5%;
  }
/* style fifth_wraper */
.fifth_wraper{
    background: #fff;
    text-align: center;
}
.fifth_wraper .parallels{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    color: #000;
    font-weight: 200;
    text-align: center;
}

.fifth_wraper .left_side_wraper{
    background-image: url("../images/computer-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 48.5%;
    height: 580px;
    padding: 54px;
    margin: 1% 0.5% 0 1%;
    color: #000;
    font-weight: 400;
}
.fifth_wraper .right_side_wraper{
    background-image: url("../images/computer-1.png");
    background-size:cover;
    background-repeat: no-repeat;
    width: 48.5%;
    height: 580px;
    padding: 54px;
    margin: 1% 1% 0 0.5%;
}
/* style sixth_wraper */
.sixth_wraper {
    background: #fff;
    text-align: center;
}
.sixth_wraper .parallels {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: #fff;
    font-weight: 200;
    -webkit-box-pack: justify;
}

.sixth_wraper .left_side_wraper{
    background-image: url("../images/lab-2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    width: 32%;
    height: 580px;
    padding: 54px;
    margin: 1% 0.3% 1% 1%;
}

.sixth_wraper .right_side_wraper {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    width: 32%;
    height: 580px;
    padding: 54px;
    margin: 1% 1% 1% 0.3%;
}

.sixth_wraper .middle{
    background-image: url("");
    background-size:cover;
    background-repeat: no-repeat;
    width: 32%;
    height: 580px;
    padding: 54px;
    margin: 1% 0.3% 1% 0.3%;
}